<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Article Form</title>
    <link rel="stylesheet" href="/stylesheets/newArticleForm.css" />
  </head>
  <body>
    <header>
      <h1>Add Article Form</h1>
      <a href="/article">
        <h2>Back To Articles</h2>
      </a>
    </header>
    <form action="/article" method="post">
      <input type="text" name="title" placeholder="Enter Title" required />
      <input
        type="text"
        name="description"
        placeholder="Enter Description"
        required
      />
      <input type="text" name="tags" placeholder="Enter Tags" required />
      <input type="text" name="author" placeholder="Enter Author" required />
      <input type="number" name="likes" placeholder="Likes" required />
      <button type="submit">Add New Article</button>
    </form>
  </body>
</html>
